/* (A) ENTIRE PAGE */
input.cart, button.cart {
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    border: none;
    color: #fff;
    background: #d64107;
    cursor: pointer;
}

/* (B) PRODUCTS LIST */
#cart-products {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.p-item {
  padding: 10px;
  border: 1px solid #aaa;
  text-align: center;
}
.p-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}

.p-price {
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0;
}
input.p-add { width: 80%; }

/* (D) CURRENT SHOPPING CART */
#cart-items {
  padding: 10px;
  background: #f1f1f1;
}
.c-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.c-name {
  width: 100%;
  font-size: 1.3em;
  line-height: 1.5em;
}
.c-del { width: 20%; }
.c-qty {
  width: 75%;
  font-size: 1em;
}
input.c-empty, input.c-checkout {
  width: 100%;
  margin-top: 10px;
}
